*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/images/pattern-background-desktop.svg);
}
.container{
    margin: 10vh auto;
    max-width: 30vw;
    background-color: aliceblue;
    border-radius: 10px;
    
}
.image img{
    display: block;
  width: 100%; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
h3{
    text-align: center;
}
h5{
    text-align: center;
    font-size: 13px;
    
    

}
p{
    text-align: center;
}
button{
    
    padding: 5px 90px;
}
.btn{
    text-align: center;

}
.change{
    display: inline;
    float: right;
}
.section{
    background-color: hsl(225, 100%, 98%);
   margin: 10px auto;
   max-width: 70%;
}